<header>
  <button mat-icon-button routerLink="">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 fxFlex>Avaliação de Ambiente {{ambient?.id}}</h1>
</header>

<iframe class="ambient-content" [src]="ambient?.iFrameUrl | safe" frameBorder="0"></iframe>

<footer fxLayout="row" fxLayoutGap="8px">
  <span fxFlex></span>

  <button mat-raised-button color="accent" (click)="openForm()">
    <mat-icon>fact_check</mat-icon>
    RESPONDER
  </button>

  <button mat-raised-button (click)="next()">
    <mat-icon>arrow_forward</mat-icon>
    AVALIAR OUTRO
  </button>
</footer>
