header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
}

.ambient-content {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0px;

  width: 100%;
  text-align: center;
}
