<h2>Pesquisa de Diferencial Semântico</h2>
<p>Preencha os campos abaixo para avaliar os ambientes</p>

<form #form="ngForm" (ngSubmit)="submit()">

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput type="text" name="name" [(ngModel)]="user.name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Idade</mat-label>
    <input matInput type="number" name="age" [(ngModel)]="user.age" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Especialidade</mat-label>
    <input matInput type="text" name="specialty" [(ngModel)]="user.specialty">
    <mat-hint>Campo de Trabalho/Estudo</mat-hint>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="!form.valid">Enviar</button>

</form>
