<div class="content" fxLayout="column">

  <div class="header" fxFlex>
    <p>Escolha o ambiente que deseja avaliar</p>
  </div>

  <ul fxLayoutGap="20px" fxLayout="column">
    <li *ngFor="let ambient of ambients">
      <mat-card>

        <mat-card-title>{{ambient.title}}</mat-card-title>

        <mat-card-actions>
          <button mat-button>
            <a [routerLink]="['/ambient/', ambient.id]">AVALIAR</a>
          </button>
        </mat-card-actions>

      </mat-card>
    </li>
  </ul>

</div>

